In [24]:
import pandas as pd
import numpy as np
import os
import warnings
import sqlite3
warnings.filterwarnings('ignore')

In [5]:
data=pd.read_csv('../data/data_metro_cuadrado_p.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Habitaciones          220 non-null    int64
 1   Baños                 220 non-null    int64
 2   Estrato               220 non-null    int64
 3   Área_construida       220 non-null    int64
 4   Código inmueble       220 non-null    object
 5   Barrio común          218 non-null    object
 6   Precio                220 non-null    int64
 7   Antigüedad            220 non-null    object
 8   Área construida       220 non-null    int64
 9   Área privada          220 non-null    int64
 10  Valor administración  113 non-null    float64
 11  Parqueaderos          176 non-null    float64
 12  estado                211 non-null    object
dtypes: float64(2), int64(7), object(4)
memory usage: 22.5+ KB

In [17]:
data.head()

,Habitaciones,Baños,Estrato,Área_construida,Código inmueble,Barrio común,Precio,Antigüedad,Área privada,Valor administración,Parqueaderos,estado
0,5,3,4,386,16742-M4795726,Frente al Hotel hunza,1200000000,Más de 20 años,386,NaN,NaN,venta_casa
1,5,4,5,210,16742-M4795707,CONDOMINIO EL LAGO,800000000,Entre 10 y 20 años,210,253000.0,1.0,venta_casa
2,3,3,4,146,16742-M4795647,Tejarez del Norte,350000000,Entre 10 y 20 años,146,230000.0,1.0,venta_casa
3,5,5,4,480,13873-M3706524,Condominio Campestre Santa Elena,2000000000,Entre 10 y 20 años,480,352000.0,4.0,venta_casa
4,5,5,5,420,16742-M4796230,LA MARIA,1100000000,Más de 20 años,420,NaN,1.0,venta_casa

In [16]:
data.drop(columns='Área construida',inplace=True)

In [18]:
data.columns = ['habitacion','banos','estrato','area_construida','codigo_inmueble','barrio_comun',
                       'precio','antiguedad','area_privada','administracion','parquedaro','estado',]

In [19]:
data.head()

,habitacion,banos,estrato,area_construida,codigo_inmueble,barrio_comun,precio,antiguedad,area_privada,administracion,parquedaro,estado
0,5,3,4,386,16742-M4795726,Frente al Hotel hunza,1200000000,Más de 20 años,386,NaN,NaN,venta_casa
1,5,4,5,210,16742-M4795707,CONDOMINIO EL LAGO,800000000,Entre 10 y 20 años,210,253000.0,1.0,venta_casa
2,3,3,4,146,16742-M4795647,Tejarez del Norte,350000000,Entre 10 y 20 años,146,230000.0,1.0,venta_casa
3,5,5,4,480,13873-M3706524,Condominio Campestre Santa Elena,2000000000,Entre 10 y 20 años,480,352000.0,4.0,venta_casa
4,5,5,5,420,16742-M4796230,LA MARIA,1100000000,Más de 20 años,420,NaN,1.0,venta_casa

In [21]:
data['barrio_comun']= data['barrio_comun'].str.lower()

In [22]:
data.head()

,habitacion,banos,estrato,area_construida,codigo_inmueble,barrio_comun,precio,antiguedad,area_privada,administracion,parquedaro,estado
0,5,3,4,386,16742-M4795726,frente al hotel hunza,1200000000,Más de 20 años,386,NaN,NaN,venta_casa
1,5,4,5,210,16742-M4795707,condominio el lago,800000000,Entre 10 y 20 años,210,253000.0,1.0,venta_casa
2,3,3,4,146,16742-M4795647,tejarez del norte,350000000,Entre 10 y 20 años,146,230000.0,1.0,venta_casa
3,5,5,4,480,13873-M3706524,condominio campestre santa elena,2000000000,Entre 10 y 20 años,480,352000.0,4.0,venta_casa
4,5,5,5,420,16742-M4796230,la maria,1100000000,Más de 20 años,420,NaN,1.0,venta_casa

In [27]:
# Conecta o crea una base de datos SQLite
conexion = sqlite3.connect("../inmuebles.db")

# Inserta el DataFrame como una nueva tabla en SQLite
data.to_sql("property", conexion, if_exists="replace", index=False)

conexion.close()